.expanded-room {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1.7s ease;
  width: 100%;
  height: fit-content;
  min-height: 250px;
  margin-bottom: 30px;
}

.expanded-room-carousel {
  width: 40%;
  height: 350px; /* o el valor que prefieras */
  min-height: 250px;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.expanded-room-carousel img,
.expanded-room-carousel .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  box-sizing: border-box;
}

.expanded-room-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  height: fit-content;
  padding: 2rem;
  font-family: 'Merriweather sans', sans-serif;
}

.expanded-room-details h2 {
  text-align: left;
  margin: 0 0 1.5rem 0;
  font-size: 1.7rem;
  color: #000000;
  font-weight: bold;
}

.expanded-room-details p {
  text-align: left;
  color: #222;
  font-size: 1rem;
  margin: 10px 0;
}

.expanded-room-details span {
  font-family: 'Merriweather sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.close-expanded-room {
  position: absolute;
  top: 10px;
  right: 28px;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  color: #888;
  cursor: pointer;
  transition: color 0.2s ease;
  z-index: 10;
  top: 20px;
  margin: 0;
}

.close-expanded-room:hover {
  color: #dc3545;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.98); }
  to { opacity: 1; transform: scale(1); }
}

@media (max-width: 768px) {
  .expanded-room {
    flex-direction: column;
    height: auto;
  }

  .expanded-room-carousel {
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
  }

  .expanded-room-details {
    width: 100%;
    padding: 1rem;
    min-height: 0;
  }

  .close-expanded-room {
    right: 20px;
  }

  .expanded-room-details > h2.room-title {
    font-size: 1rem;
  }

  .expanded-room-details p {
    font-size: 0.85rem;
  }
}

@media (max-width: 1440px) {
  .expanded-room-details > h2.room-title {
    font-size: 1.2rem;
  }

  .expanded-room-details p {
    font-size: 0.9rem;
  }
}
