:root {
    --font-family: 'Merriweather Sans', sans-serif;
}

.header-container {
   width: 100%; 
    height: 15vh;
    background-color: #7AA4CF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.drop-down-menus-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.right-content-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    color: white;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
}

.user-info-container h2 {
    font-family: var(--font-family);
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.user-info-container p {
    font-family: var(--font-family);
    font-size: 0.9rem;
    margin: 0px;
}

#hamburger-button {
    color: white;
    background: none;
    border: none;
    font-size: 1.3rem;
    margin: 0;
}

#hamburger-button {
    margin-top: 20px;
    font-size: 1.8rem;
}

#collapse-button:active, #collapse-button:focus,
#hamburger-button:active, #hamburger-button:focus{
    outline: none !important;
    box-shadow: none !important;
}

.card {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0px 0px 15px 15px;
}

.dropdown-hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    max-width: 360px;
    min-width: 200px;
    max-height: 300px;
    color: black;
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 0px;
    border-radius: 0px 0px 15px 15px;
}

.options{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.options a{
    font-family: var(--font-family);
    text-decoration: none;
    color: black;
    padding: 3px 20px;
}

.options a:hover{
    font-weight: bold;
}

.dropdown-hamburger-menu ul{
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
}

.dropdown-hamburger-menu ul li{
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 15px;
    padding: 8px 8px;
    font-size: 1.2rem;
}

.dropdown-hamburger-menu ul li:hover{
    font-weight: bold;
}

.dropdown-hamburger-menu ul li:first-child{
    background-color: #C3D6EA;
    border-radius: 10px;
    font-weight: bold;
}

.dropdown-hamburger-menu ul a{
    text-decoration: none;
    color: #666666;
}

.dropdown-hamburger-menu ul li span{
    margin-left:10px;
    font-size: 0.9rem;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
}

@media(max-width: 768px) {
    .header-container {
        justify-content: center;
        flex-direction: column;
        height: 20%;
        padding: 10px;
    }

    .drop-down-menus-container {
        width: 100%;
    }

    .user-info-container {
        margin: 20px;
        left: 50%;
    }

    .submenu {
        top: 90%;
    }

    /* Asegurar que el menú hamburguesa quede siempre debajo del header */
    #hamburger-menu {
        top: 0%;
        margin-top: 140px;
    }

    .user-info-container h2 {
        font-size: 1rem;
    }

    .user-info-container p {
        font-size: 0.8rem;
    }

    .dropdown-hamburger-menu ul li{
        margin: 10px 15px;
        padding: 5px 8px;
    }
}

@media(max-width: 481px) {
    /* Asegurar que el menú hamburguesa quede siempre debajo del header */
    #hamburger-menu {
        top: 0%;
        margin-top: 158px;
    }
}
