.profile-sidenav-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.profile-main {
    width: 100%;
    height: 100vh;
}

.profile-title-form-container {
    margin-top: 40px;
    margin-left: 40px;
}

.profile-title-form-container h1 {
    width: 100%;
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0px 0px 40px 80px;
    font-size: 1.6rem;
    font-weight: bold;
}

.image-form-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 80px;
}

.profile-image-container {
    display: flex;
    border: 1px solid #CFCFCF;
    height: fit-content;
    width: fit-content;
    border-radius: 15px;
    position: relative;
    text-align: center;
    padding: 20px;
}

.profile-image-container img,
.edit-delete-icons {
    width: 15vw;
    max-width: 250px;
    height: 15vw;
    max-height: 250px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-delete-icons {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    background: none;
    top: 10;
    left: 10;
    width: 15vw;
    max-width: 250px;
    height: 15vw;
    max-height: 250px;
    aspect-ratio: 1 / 1;
}

.edit-delete-icons:hover{
    opacity: 0.7;
    background-color: gray;
}

.profile-edit-icon,
.profile-delete-icon {
    font-size: 2rem;
    color: black;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    background: none;
    position: relative;
}

/* Mostrar iconos al hacer hover en edit-delete-icons */
.edit-delete-icons:hover .profile-edit-icon,
.edit-delete-icons:hover .profile-delete-icon {
    opacity: 1;
}

.profile-image-container img {
    object-fit: cover;
    cursor: pointer;
}

.user-info-form {
    width: 55%;
    height: 90%;
    border: 1px solid #CFCFCF;
    border-radius: 15px;
    padding: 40px 0;
    margin-left: 10%;
}

#profile-auth-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#profile-auth-form label, input{
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.9rem;
}

#profile-auth-form label{
    font-weight: bold;
}

#profile-auth-form input{
    margin-bottom: 12px;
    height: 40px;
}

#profile-auth-form button {
    width: 50%;
    height: 40px;
    padding: 6px;
    margin: 30px 0 10px 0;
    border-radius: 10px;
    background-color: #0074D9;
    border: none;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#profile-auth-form button:hover {
    background-color: #339CFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

@media(max-width: 1100px) {
    .profile-title-form-container {
        margin-left: 0;
        align-items: center;
    }

    .profile-title-form-container h1 {
        text-align: center;
        margin: 0px 0px 40px 0px;
        font-size: 1.4rem;
    }

    .image-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
    }

    .profile-image-container {
        margin-bottom: 30px;
    }

    .profile-image-container img,
    .edit-delete-icons {
        width: 25vw;
        height: 25vw;
    }

    .edit-delete-icons {
        top: 10;
        left: 10;
        width: 25vw;
        height: 25vw;
    }

    .user-info-form {
        width: 100%;
        margin-left: 0;
        margin-bottom: 40px;
    }

    .sidenav {
        height: 125%;
    }
}

@media(max-width: 768px) {
    .profile-image-container img,
    .edit-delete-icons {
        width: 35vw;
        height: 35vw;
    }

    .edit-delete-icons {
        top: 10;
        left: 10;
        width: 35vw;
        height: 35vw;
    }
}