.rooms-client-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 90%;
  max-width: 1800px;
  margin: 18px 0 0 0;
  padding: 2rem 1.5rem;
}

.client-title {
  display: flex;
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 60px;
  text-align: center;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-bottom: 60px;
}

.room-client-card {
  transition: all 0.3s ease;
  height: fit-content;
}

.room-client-card.expanded {
  grid-column: 1 / -1;
  z-index: 2;
  width: 100%;
  height: fit-content;
}

.rooms-client-filters {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.rooms-search-input,
.rooms-filter-input,
.rooms-sort-input {
  display: flex;
  align-items: center;
}

.filter-input{
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  max-width: 400px;
}

.filter-select {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

#search {
  font-family: 'Merriweather', sans-serif;
  width: 270px;
  margin-left: 15px;
}

#sort {
  margin-left: 15px;
}

#status {
  margin-left: 15px;
}

@media (max-width: 1440px) {
  .room-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media(max-width: 768px) {
 .rooms-client-container h1{
    font-size: 1.6rem;
    text-align: center;
  }

  .rooms-client-container{
    margin: 18px 0 0 0;
  }
}
