.services-client-page {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
}

.services-client-main {
    margin-top: 30px;
}

.services-client-main h2{
    display: flex;
    justify-content: center;
    font-family: 'Merriweather sans', serif;
    font-size: 1.5rem;
}

@media(max-width: 768px) {
    .services-client-main h2{
        font-size: 1.2rem;
    }
}