.service-card {
    display: flex;
    flex-direction: column;
    align-self: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    width: 35vw;
    width: 380px;
    height: 320px;
    margin: 15px 30px 15px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .service-card-body h2{
    color: #868585;
    text-align: center;
    margin: 15px;
    height: 25px;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .service-card img {
    width: 100%;
    height: 160px;
    border-radius: 0;
    object-fit: cover;
    border-radius: 16px 16px 0 0 ;
  }
  
  .service-card-body .servide-card-title{
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .service-status-indicator {
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 3px;
  }
  
  .service-status-indicator.active {
    background-color: #22c55e;
  }
  
  .service-status-indicator.inactive {
    background-color: #ef4444;
  }
  
  .service-card-body .service-card-buttons {
    display: flex;
    justify-content: space-evenly;
    height: 38px;
  }
  
  .service-card-buttons .button {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 0.8rem;
    background-color: #F0F4F8;
    color: #007AFF;
    width: 105px;
    border-radius: 4px;
    padding: 9px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: none;
  }
  
  .service-card-buttons .button:hover {
    background-color: #2563eb;
    color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: solid 1px white;
  }
  
  .service-deleted {
    display: none;
  }
  
  .service-info-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4000;
    overflow-y: scroll;
  }
  
  .modal-service-info-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    padding: 1.5rem 1.5rem;
    border-radius: 10px;
    max-width: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 0 30px;
  }
  
  .modal-service-info-content button {
    align-self: flex-end;
    background: none;
    border: none;
    color: black;
    width: 30px;
  }
  
  .service-info-photo-container img{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: auto;
    border-radius: 0;
    object-fit: cover;
  }
  
  .service-info-photo-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    border-radius: 0;
    object-fit: cover;
    margin-bottom: 30px;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 0.8rem;
    
  }

  .service-info-content{
    margin-left: 20px;
    width: 60%;
  }
  
  .service-info-content h2 {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .service-info-content p{
    font-family: "Merriweather Sans", sans-serif;
    font-size: 0.95rem;
    margin: 15px 0;
  }

  .menus-products-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menus-products-buttons a{
    width: 45%;
    height: 40px;
    margin-top: 10px;
  }

  .menus-products-buttons button{
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    font-family: 'Merriweather sans';
    background-color: #0074D9;
    color: white;
    border-radius: 5px;
  }

  .service-products-button button{
    background-color: #F0F4F8;
    color: #007AFF;
  }
  
  @media(max-width: 768px) {
    .side-bar {
      display: none;
    }
  
    .service-card, .service-card img {
      width: 300px;
    }
  
    .service-card-buttons .button {
      width: 80px;
    }
  
    .service-info-photo-container{
      flex-direction: column;
      align-items: center;
    }
  
    .service-info-photo-container img{
      max-width: 620px;
      max-height: 400px;
      width: 100%;
      height: 70%;
    }
  
    .service-info-content{
      margin-left: 0;
      width: 100%;
    }

    .modal-service-info-content {
        margin-top: 25vw;
        margin-bottom: 5vw;
    }

    .modal-service-info-content button {
        margin-bottom: 10px;
    }
    .service-info-photo-container img {
        margin-bottom: 20px;
    }
}