*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
}

:root {
  --background-color:#F5F5F5;
  --line-color:#E0E0E0;
  --blue-logo: #0074d9;
}

.page-container {
  background-color: black;
  min-height: 100vh;
}

/*------------------------------------------------------------------------Nav/Hero---------------------------------------------------------------*/
.hero {
  background-image: url(assets/images/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5vw;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  z-index: 2;
}

.hero h1 {
  position: relative;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  font-size: clamp(2.5rem, 5vw, 5rem);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero h2 {
  position: relative;
  color: #fff;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 100;
  z-index: 3;
  max-width: 80%;
  margin-top: 0;
  line-height: 1.5;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 7;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 4vw;
}

.nav.scrolled {
  background-color:  rgba(0, 0, 0, 0.7);;
  backdrop-filter: blur(10px);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navIndex{
  text-decoration: none;
}

.navIndex.active {
  font-weight: bold;
  border-bottom: 3px solid #fff;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  margin-top: 10px;
  display: inline-block;
  margin-right: 1.5rem;
  /*letter-spacing: 2px;*/
}

.nav ul li a{
  color: #ffff;
  font-size: 1.2rem;
  font-weight: 400;
  transition: var(--blue-logo) 0.3s ease, border-bottom 0.3s ease;
}

.nav ul li a:hover {
  color: var(--blue-logo);
  border-bottom: 3px solid var(--blue-logo);
}

.nav .signInBtn {
  padding: 10px;
  border: none;
  background-color: var(--blue-logo);
  color:#ffff;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  letter-spacing: 1px;
  font-size: 1.0rem;
  font-weight: 400;

}

.nav .signInBtn:hover {
  background-color: #0056a3;
  transform: scale(110%);
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  z-index: 5;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.hamburger .line.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .line.open:nth-child(2) {
  opacity: 0;
}

.hamburger .line.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}



/*------------------------------------------------------------------------About Us---------------------------------------------------------------*/
.about-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 5vw;
  max-width: 1900px;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

.about-us {
  display: flex;
  flex-wrap:wrap;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem 0;
  width: 100%;
  min-height: 100vh;
}

.about-text {
  flex: 1 1 500px;
  min-width: 300px;
  max-width: 800px;
  padding: 0 2rem;
}

.about-text h2 {
  font-size: clamp(2rem, 3vw, 2.5rem);
  color: #ffff;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--background-color);
  line-height: 1.4;
  text-align: justify;
  max-width: 100%;
  margin-bottom: 2rem;
}

.about-text button {
  font-size: clamp(1rem, 2vw, 1.2rem);
  padding: 0.75rem 1.5rem;
  color: black;
  background-color: var(--blue-logo);
  border-radius: 0.5rem ;
  transition: 0.3s ease-in-out;
  border: none;
  box-shadow: 0 0 15px var(--blue-logo);
}

.about-text button:hover {
color: #ffff;
transform:scale(1.05);
box-shadow: 0 0 50px var(--blue-logo);
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.social-icon {
  font-size: 1.5rem;
  color: #0074d9;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0056a3;
}

.follow-us {
  margin-top: 1.5rem;
  font-size: clamp(1rem, 2vw, 1.2rem);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  color: var(--background-color);
}

.line-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.about-text .line {
  border: 0;
  height: 2px;
  background-color:var(--blue-logo);
  width: 50px;
  opacity: 1;
}

.carousel-container {
  flex: 1 1 500px;
  min-width: 300px;
  max-width: 700px;
  min-height: 400px;
  height: 100%;

}

.carousel-container img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: fill;
  border-radius: 0.5rem;
}

/*--------------------------------------------------------------------------FOOTER--------------------------------------------------------------*/
.footer {
  background-color: #2c3e50;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 5vw;
}

.footer-logo h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #3498db;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-links ul li {
  display: inline-block;
}

.footer-links ul li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #3498db;
}

.footer-info p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #95a5a6;
}

/*--------------------------------------------------------------------------404--------------------------------------------------------------*/
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  color: #333;
}

.not-found-content {
  text-align: center;
}

.not-found-title {
  font-size: 6rem;
  font-weight: bold;
  color: var(--blue-logo);
}

.not-found-message {
  font-size: 2rem;
  margin-top: 0.5rem;
  color: #555;
}

.not-found-description {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #777;
}

.not-found-link {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--blue-logo);
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--blue-logo);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.not-found-link:hover {
  background-color: var(--blue-logo);
  color: white;
}
/*--------------------------------------------------------------------------AlertMessage--------------------------------------------------------------*/
.alert-message {
  position: relative;
  padding: 12px 40px 12px 16px;
  border-radius: 8px;
  font-size: 0.95rem;
  margin: 16px 0;
  text-align: center;
  transition: all 0.3s ease;
  animation: fadeIn 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px
}

.alert-message.success {
  background-color: #e6f4ea;
  color: #2e7d32;
  border: 1px solid #a5d6a7;
}

.alert-message.error {
  background-color: #fdecea;
  color: #c62828;
  border: 1px solid #f44336;
}

.alert-message.info {
  background-color: #e3f2fd;
  color: #1565c0;
  border: 1px solid #90caf9;
}

.alert-message button {
  border: none;
  background-color: transparent;
  color: #555;
  font-size: medium;
  position: absolute;
  font-size: 1.2rem;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);

}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.alert-floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}


/*--------------------------------------------------------------------------@MEDIA--------------------------------------------------------------*/
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin-right: 50px;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 2rem 0;
    gap: 1rem;
    z-index: 5;
    transition: all 0.3s ease-in-out;

  }

  .nav{
    padding: 10px ;
  }
  .logo{
    transform: scale(0.80);
    margin-top: 0.5rem;
  }
  .nav-links.open {
    display: flex;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-links ul li {
    margin: 0;
  }

  .signInBtn {
    display: block;
    transform: scale(0.80);
    width: 100%;
  }

  .nav .signInBtn {
    display: block;
    margin-top: 0.6rem;
    font-size: 0.8rem;
  }

  .hero {
    height: 100vh;
    padding: 0 1rem;
    text-align: center;
  }

  .hero h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .about-us {
    margin-top: 100px;
    margin-bottom: 100px;
  }



  .footer-logo h2 {
    font-size: 1rem;
  }
  
  .footer-links ul li a {
    font-size: 0.8rem;
  }

  .footer-info p {
    font-size: 0.6rem;
  }

  
.about-text h2 {
  font-size: 1.5rem;

}

.about-text p {
  font-size: 0.9rem;
}

.about-us-container {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.carousel-container {
margin-left: 30px;
padding-bottom: 30px;
}
}